# Ignored files due to ESLINT errors

**/*.test.ts
**/*.test.tsx
**/*.test.js
**/*.test.jsx
app/api/gift-exchanges/route.ts
app/api/gift-exchanges/\[id\]/draw/route.ts
app/api/gift-exchanges/\[id\]/giftSuggestions/route.ts
app/api/gift-exchanges/\[id\]/members/route.ts
app/api/gift-exchanges/\[id\]/members/\[memberId\]/route.ts
app/api/gift-exchanges/\[id\]/route.ts
app/api/giftSuggestions/route.ts
app/api/openaiConfig/config.ts
app/api/profile/route.ts
app/api/profile/\[id\]/route.ts
app/auth/callback/route.ts
app/auth/error/page.tsx
app/auth/login/page.tsx
app/create-group-page/page.tsx
app/dashboard/page.tsx
app/gift-exchanges/\[id\]/edit/page.tsx
app/gift-exchanges/\[id\]/page.tsx
app/gift-exchanges/\[id\]/WaitingForSuggestions.tsx
app/layout.tsx
app/onboarding/page.tsx
app/page.tsx
app/profile/page.tsx
app/profile/\[id\]/page.tsx
app/types/giftExchange.ts
app/types/giftExchangeMember.ts
app/types/giftSuggestion.ts
app/types/profile.ts
app/types/tailwindcss-motion.d.ts
components/Avatar/Avatar.tsx
components/Avatar/AvatarFallback.tsx
components/Avatar/AvatarBody.tsx
components/Button/button.tsx
components/Calendar/calendar.tsx
components/Command/command.tsx
components/FeedbackView/FeedbackView.tsx
components/GiftDetailsView/GiftDetailsView.tsx
components/GiftExchangeHeader/GiftExchangeHeader.tsx
components/GiftSuggestionCard/GiftSuggestionCard.tsx
components/GlobalGiftSpinner/GlobalGiftSpinner.tsx
components/GlobalHeader/GlobalHeader.tsx
components/GroupCard/GroupCard.tsx
components/ImageSelector/ImageSelector.tsx
components/Input/input.tsx
components/InviteCard/InviteCard.tsx
components/JourneyCard/JourneyCard.tsx
components/Label/label.tsx
components/LoadingCard/LoadingCard.tsx
components/LoadingSkeleton/LoadingSkeleton.tsx
components/LoadingSpinner/LoadingSpinner.tsx
components/LoginButton/LoginButton.tsx
components/MembersList/MembersList.tsx
components/MultiSelect/multi-select-input.tsx
components/NavLogo/NavLogo.tsx
components/Popover/popover.tsx
components/ProfileCard/ProfileCard.tsx
components/Progress/progress.tsx
components/RadioGroup/radio-group.tsx
components/Select/select.tsx
components/Skeleton/Skeleton.tsx
components/Slider/slider.tsx
components/SnowOverlayToggle/SnowOverlayToggle.tsx
components/SnowOverlayWrapper/react-snow-overlay.d.ts
components/WarningModal/WarningModal.tsx
lib/drawGiftExchange.ts
lib/generateAndStoreSuggestion.ts
lib/generateAndUpdateNewGiftSuggestion.ts
lib/getAmazonImage.ts
lib/getUserAvatar.ts
lib/getUserAvatar.ts
lib/supabase/client.ts
lib/supabase/middleware.ts
lib/supabase/server.ts
lib/utils.ts
